<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kanban task board</title>
</head>

<body>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<h1>Task board</h1>
<a href="/new">New Task</a>

<table>
    <thead>
    <tr>
        <th>Uncompleted</th>
        <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div th:each="note : ${todoList}">
                <span th:text="${note.name}">TODO name</span><br/>
                <span th:text="${note.duration}">TODO duration</span><br/>
                <span th:text="${note.description}">TODO description</span>
                <p></p>
            </div>
        </td>
        <td>
            <div th:each="note : ${completedList}">
                <span th:text="${note.name}">TODO name</span><br/>
                <span th:text="${note.duration}">TODO duration</span><br/>
                <span th:text="${note.description}">TODO description</span>
                <p></p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<h2>Complete a task</h2>

<form th:action="@{/data}" method="POST">
    <span>Do the task:</span><br/>
    <select name="value">
        <option th:each="note: ${todoList}" th:value="${note.id}" th:text="${note.name}">Options</option>
        <input type="submit" value="Complete"/>
    </select><br/>


</form>
</body>
</html>