<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
        <p>Login to view your latest task board.</p>
        <a href="data">To task board</a>
    </header>
    <main>
        
    </main>
    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
