<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Add a Task</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Add a Task</h1>
    <p>Enter new task<p>
    <form th:action="@{/new}" method="POST">
        <p>Name: <label>
            <input type="text" name="name">
        </label></p>
        <p>Duration: <label>
            <input type="number" name="duration">
        </label></p>
        <p>Description: <label>
            <input type="text" name="description">
        <div><input type="submit" value="Add Task"/></div>
        </label></p>
    </form>
</body>
</html>